{% extends 'layout.html' %}

{% block title %}Search App{% endblock %}

{% block content %}
    <div class="container">
        <div class="search-box">
            <h1>Songle</h1>
            <form method="post" action="{{ url_for('search_results') }}">
                <input type="text" name="search_query" placeholder="Enter your search">
                <button type="submit">Search</button>
            </form>
            {% if search_query %}
                <p>You searched for: <strong>{{ search_query }}</strong></p>
            {% endif %}
        </div>
    </div>
{% endblock %}
