
{% extends 'layout.html' %}
{% block title %}Search App{% endblock %}

{% block content %}
    <div class="search-box">
        <p class="text-7xl text-indigo-700 mb-6 font-semibold">Songle</p>

        <form class="flex" method="post">
            <input class="flex-grow p-2 mb-6 text-indigo-700 border-b-2 border-indigo-500 outline-none focus:bg-gray-300" type="text" name="search_query" placeholder="Enter your search">
            <button class="ml-2 bg-indigo-700 hover:bg-pink-700 text-white font-bold py-2 px-4 mb-6 rounded " type="submit">Search</button>
        </form>
        {% if search_query %}
            <p>You searched for: <strong>{{ search_query }}</strong></p>
            {% for result in search_results %}
                <div class="result-box">
                    <div class="result">
                        <!-- <img src="{{ result.image }}" alt="Song Image"> -->
                        <div class="result-details">
                            <p><a href="{{ url_for('song_details', id=result.id) }}" style="color: #3b82f6; text-decoration: underline; transition: color 0.3s;" onmouseover="this.style.color='#1d4ed8'" onmouseout="this.style.color='#3b82f6'">{{ result.song_name }}</a></p>

                            <p>Artist: {{ result.artist }}</p>
                            <!-- <p>{{ result.lyric_sentence }}</p> -->
                        </div>
                        <form method="post" action="{{ url_for('saveSong') }}">
                            <input type="hidden" name="song_id" value="{{ result.id }}">
                            <button type="submit" style="border: none; background: none;"><img src="https://cdn0.iconfinder.com/data/icons/social-media-logo-4/32/Social_Media_instagram_save_save_instagram-512.png" alt="save button" width="20" height="20"></button>
                        </form> 
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
